.menubar{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 2px solid black;
    padding: 10px;
    background-color: purple;
}
.prodname{
    color: yellow;
}
.prodname,.menulinks{
    padding: .5 vw;
}
.menulinks a{
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-size:medium;
    border: 1px solid black;
    background-color:white;
    transition:0.4s;
    opacity:1;
   margin: 1px;
   font-weight:700;
}
.menulinks a:hover{
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-size:medium;
    border: 1px solid black;
    background-color:yellow;
    transition:0.4s;
    opacity:1;
   margin: 1px;
   font-weight:700;

}
.body{
    display: flex;
    justify-content: space-around;
    background-color: black;
    max-width: 100vw; 
    height: 45vw;
    background-position: center;
    background-size: cover;
}
.leftlinks{
    display: inline-block;

}
.leftlinks a{
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-size:medium;
    border: 1px solid black;
    background-color:maroon;
    transition:0.4s;
    opacity:1;
   margin: 1px;
   font-weight:700;
   color: goldenrod;
   padding: 3px;
}
.leftlinks a:hover{
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    font-size:medium;
    border: 1px solid black;
    background-color:goldenrod;
    color: maroon;
    transition:0.4s;
    opacity:1;
   margin: 1px;
   font-weight:700;

}
.bodytext{
    display: inline-block;
}
.bodytext h1{
    color:maroon;
    font-size: xx-large;
    text-align: justify;
}
.bodytext p{
    color:goldenrod;
    font-size: medium;
    text-align: justify;

}
.bronbron{
    color: maroon;
    font-size: large;
}
.prodpic{
    display: inline-block;
    text-align: center;
    width: 25vw;
    height: 25vh;
}
.righttext{
    color: goldenrod;
}